
.topart {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    
}


.article {
    background-color: rgba(197, 220, 227, 0.5); 
    display: grid;
    grid-template-rows: 2fr 1fr;
    row-gap: 15px;
    transition-duration: 1s;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    
}


.imgage{
    width: 100%;
}


.topart_heading {
    background-color: rgba(121, 181, 121, 0.5);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.topart_par{
    font-size: 14px;
    margin: 0;
}

.topart article:hover {
    opacity: 0.5 ;
    cursor: pointer;
}

@media (width > 600px){
    .topart{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    
}

.article {
    grid-template-rows: 2fr 1fr;
    padding-bottom: 10px;
}

.topart_img{
    padding-bottom: 10px;
}
}
