*{
    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(212, 209, 209));
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

}

h1 {
    font-size: 2rem;

}

h2 {
    font-size: 1.5rem;

}

header img {
     display:block;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 5% ;

}

nav ul {
    display: flex;
    list-style: none;
    border-top: solid;
    border-top-color: rgb(121, 181, 121);
    justify-content: space-evenly;
}

nav li {
    
    flex: 1;
    font-size: medium;
    font-weight: bold;
    padding: 3%;    
   
}

section{
    display: flex;
}
.banner {
    flex: 1;
    position: relative;
    padding: 5%, 0 , 5%, 0;
    
}

.bannertext{
    flex: 1;
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    color: whitesmoke;
    
}

.bannertext p{
    flex: 1;
    text-align: center;
    font-size: 16px;
}

.toparticles {
    display:flex;
}

.toparticles article {
    flex: 1;
    padding: 3%;
}

footer {
    display: flex;
}

div {
    flex: 1;
}