*{
    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(212, 209, 209));
    font-family: Roboto;
    margin-top: 30px;
    margin-bottom: 30px;
    
   

}

h1 {
    font-size: 60px;

}

h2 {
    font-size: 20px;

}

header img {
     display:block;
     margin-left: auto;
     margin-right: auto;


}

.navigation {
    display: flex;
    flex-flow: wrap;
    background-color:rgb(121, 181, 121);
    justify-content: space-evenly;
    list-style: none;
    border-radius: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation a {
    
    display: inline-block; 
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 3px;
    transition: color 0.5s;
   
}

.navigation a:hover {
    
    color: rgb(59, 112, 130);
    cursor: pointer;
}

.navigation a:active{
    opacity: 0.5;
}


.banner_preview .picture {
    width: 100%;
    position: relative;
    
    
}


.picture .banner_heading{
    position: absolute;
    text-align: center;
   
}


.topart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 14px;
    
}

.article {
    display: grid;
    grid-template-rows: 2fr 1fr;
    transition-duration: 1s;
}

.topart_img{
    width: 100%;
    vertical-align: top;
}

.topart_info{
    vertical-align: top;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


.topart_heading {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.topart_par{
    font-size: 14px;
}

.topart article:hover {
    opacity: 0.5 ;
    cursor: pointer;
}

@media (max-width: 540px ){
    .topart{
        display: block;
    }
}



footer {
    display: flex;
    background-color: black;
}

div {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    
}

footer div > p {
    color: whitesmoke;
    margin-left: 0%;
    margin-right: 20%;
    
}

footer div > p:hover{
    color: rgb(92, 154, 175);
}