body {

    background-color: rgb(190, 225, 246);
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

}

h1 {
    font-size: 2rem;

}

h2 {
    font-size: 1.5rem;

}

header img {
     display:block;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 5% ;

}

nav ul {
    display: flex;
    list-style: none;
    border-top: solid;
    border-top-color: rgb(81, 143, 164);
    justify-content: space-evenly;
}

nav li {
    
    flex: 1;
    font-size: medium;
    font-weight: bold;
    padding: 3%;    
   
}


.banner {
    padding: 5%, 0 , 5%, 0;
    
}

.toparticles {
    display:flex;
}

.toparticles article {
    flex: 1;
    padding: 3%;
}

footer {
    display: flex;
}

div {
    flex: 1;
}